.DS_Store
.env*.local
node_modules/
.pnpm-store/
.next/
.tmp/
.tmp*/
.tmp*
tmp/
out/
build/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
stitch-downloads/
.turbo/
output/
.vercel
